<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32000">
        <setting label="32003" type="folder" id="STRM_LOC" source="auto" default="special://userdata/addon_data/plugin.video.osmosis/strms"/>   
        <setting label="32006" type="enum" id="Link_Type" values="OSMOSIS|Original Plugin" default="0"/>
        <setting label="32008" type="bool" id="Clear_Strms" default="false"/>
        <setting label="32005" type="bool" id="Update_Strms" default="true"/>
        <setting label="32009" type="bool" id="Automatic_Update_Folder" subsetting="true" visible="eq(-4,true)" default="false" />
        <setting label="32010" type="bool" id="Automatic_Clean_Folder" subsetting="true" visible="eq(-5,true)" default="true" />
        <setting label="32011" type="bool" id="Automatic_Clear_Folder" subsetting="false" visible="eq(-6,true)" default="false" />
        <setting label="32012" type="bool" id="supportES" default="false"/>
     </category>
     <category label="31000">   
        <setting label="31004" type="bool" id="Write_NFOS" default="false" />
        <setting label="31006" type="slider" id="paging_tvshows_sublist" default="2" range="1,100" option="int"/>
        <setting label="31001" type="slider" id="paging_tvshows" default="2" range="1,100" option="int"/>
    	<setting label="31002" type="slider" id="paging_movies" default="2" range="1,100" option="int"/>
    	<setting label="31003" type="bool" id="folder_medialistentry_movie" default="false"/>
    	<setting label="31005" type="bool" id="folder_movie" default="false"/>
    </category>
      <category label="33000">
      	<setting label="33001" type="bool" id="Updat_at_startup" default="true"/>
        <setting label="33002" type="bool" id="Automatic_Update_Run" default="true" />
        <setting label="33003" type="select" id="Automatic_Update_Time" subsetting="true" visible="eq(-1,true)" values="1|3|6|12|24|48|72" default="6" option="int"/>
        <setting label="33004" id="update_time" type="time" default="0:00"/>
    </category>
    <category label="38000">
      	<setting label="38001" type="text" id="KMovie-DB username" />
        <setting label="38002" type="text" id="KMovie-DB password" />
        <setting label="38003" type="text" id="KMovie-DB name" />
        <setting label="38004" type="file" id="KMovie-DB path" source="auto" default=""/>
        <setting label="38005" type="ipaddress" id="KMovie-DB IP"/>
    </category>
    <category label="35000">
      	<setting label="35001" type="text" id="Music-DB username" />
        <setting label="35002" type="text" id="Music-DB password" />
        <setting label="35003" type="text" id="Music-DB name" />
        <setting label="35004" type="file" id="Music-DB path" source="auto" default=""/>
        <setting label="35005" type="ipaddress" id="Music-DB IP"/>
    </category>
    <category label="37000">
      	<setting label="37001" type="text" id="TV-Show-DB username" />
        <setting label="37002" type="text" id="TV-Show-DB password" />
        <setting label="37003" type="text" id="TV-Show-DB name" />
        <setting label="37004" type="folder" id="TV-Show-DB path" source="auto" default=""/>
        <setting label="37005" type="ipaddress" id="TV-Show-DB IP"/>
    </category>
</settings>
